@if (Size == "Big")
{
    <button class="primary-button" @onclick="@InvokeOnClick">
                @if (hasArrow)
                {
                    if (arrowSide == "Left")
                    {
                        <img class="left-arrow" src="icons/arrow.svg" alt="arrow"/>
                        @Text
                    }
                    else
                    {
                        @Text
                        <img class="right-arrow" src="icons/arrow.svg" alt="arrow"/>
                    }
                }
                        else
                        {
                            @Text
                        }
    </button>
}
else
{
    <button class="primary-button-small" @onclick="@InvokeOnClick">
                @if (hasArrow)
                {
                    if (arrowSide == "Left")
                    {
                        <img class="left-arrow" src="icons/arrow.svg" alt="arrow"/>
                        @Text
                    }
                    else
                    {
                        @Text
                        <img class="right-arrow" src="icons/arrow.svg" alt="arrow"/>
                    }
                }
                        else
                        {
                            @Text
                        }
    </button>
}


@code {
    [Parameter]
    public string Text { get; set; } = "Button";

    [Parameter] 
    public Action OnClickFunction { get; set; }

    private void InvokeOnClick()
    {
        OnClickFunction.Invoke();
    }
    
    [Parameter]
    public string Size { get; set; } = "Big";
    
    [Parameter]
    public bool hasArrow { get; set; }
    
    [Parameter]
    public string? arrowSide { get; set; }

}