@if (Size == "Big")
{
    <button class="primary-button" onclick="@OnClickFunction">@Text</button>
}
else
{
    <button class="primary-button-small" onclick="@OnClickFunction">@Text</button>
}


@code {
    [Parameter]
    public string Text { get; set; } = "Button";

    [Parameter] 
    public Action<string> OnClickFunction { get; set; }
    
    [Parameter]
    public string Size { get; set; } = "Big";

}