<div class="container @dynamicClass">
    <p class="content">@status</p>
</div>

@code {
    [Parameter]
    public string status { get; set; }

    public string dynamicClass { get; set; } = "rejected";

    protected override void OnInitialized()
    {
        if (status == "Accepted")
        {
            dynamicClass = "accepted";
        }
        else if (status == "Pending")
        {
            dynamicClass = "pending";
        }
        else
        {
            dynamicClass = "rejected";
        }
        
    }

}