.find-rides-page-wrapper[b-yyp47ngs7h]{
    margin-top: 144px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin-bottom: 96px;
}

.home-page-titles[b-yyp47ngs7h]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.title-primary[b-yyp47ngs7h]{
    font-family: 'PP Mori SemiBold';
    font-size: 96px;
    line-height: 101px;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.title-secondary[b-yyp47ngs7h]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.find-rides-rides-container[b-yyp47ngs7h]{
    display: flex;
    flex-direction: column;
    gap: 20px;
}