.find-rides-page-wrapper[b-aq9oehf01x]{
    margin-top: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.home-page-titles[b-aq9oehf01x]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
}

.primary-titles[b-aq9oehf01x]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}


.title-primary[b-aq9oehf01x]{
    font-family: 'PP Mori SemiBold';
    font-size: 52px;
    line-height: 55px;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.title-secondary[b-aq9oehf01x]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.outro-container[b-aq9oehf01x]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.outro-container > h3[b-aq9oehf01x]{
    font-family: 'PP Mori SemiBold';
    font-size: 20px;
    line-height: 21px;
    color: #B3BBCE;
}

.buttons-container[b-aq9oehf01x]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}