/* /Pages/FindRides.razor.rz.scp.css */
.find-rides-page-wrapper[b-72ckdcwi84]{
    margin-top: 144px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin-bottom: 96px;
}

.home-page-titles[b-72ckdcwi84]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.title-primary[b-72ckdcwi84]{
    font-family: 'PP Mori SemiBold';
    font-size: 96px;
    line-height: 101px;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.title-secondary[b-72ckdcwi84]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.find-rides-rides-container[b-72ckdcwi84]{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* /Pages/Home.razor.rz.scp.css */
.home-page-wrapper[b-mwezi9xtxa]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    height: calc(100vh - 80px);
}

.home-page-titles[b-mwezi9xtxa]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
}

.buttons-container[b-mwezi9xtxa]{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.title-primary[b-mwezi9xtxa]{
    font-family: 'PP Mori SemiBold';
    font-size: 96px;
    line-height: 101px;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.title-secondary[b-mwezi9xtxa]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
/* /Pages/RideCompletion.razor.rz.scp.css */
.find-rides-page-wrapper[b-03p21zzcg4]{
    margin-top: 144px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin-bottom: 96px;
}

.home-page-titles[b-03p21zzcg4]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.title-primary[b-03p21zzcg4]{
    font-family: 'PP Mori SemiBold';
    font-size: 96px;
    line-height: 101px;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.title-secondary[b-03p21zzcg4]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.ride-completion-input-wrapper[b-03p21zzcg4]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 12px;
    gap: 18px;
    background: linear-gradient(180deg, rgba(17, 19, 38, 0.4) 0%, #111326 100%);
    border: 1px solid #2A2D53;
    border-radius: 8px;
}

.ride-completion-input-inner[b-03p21zzcg4]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
}

.ride-completion-input[b-03p21zzcg4]{
    padding: 8px;
    background: #1A1D3D;
    border: 1px solid #2A2D53;
    border-radius: 8px;
    font-size: 16px;
    font-family: "PP Mori Regular";
}

.ride-completion-input:focus[b-03p21zzcg4]{
    outline: none;
    border: 1px solid #4A5EB0;
}

.caption[b-03p21zzcg4]{
    font-size: 14px;
    line-height: 16px;
    margin-left: 4px;
}
/* /Pages/RideDetails.razor.rz.scp.css */
.find-rides-page-wrapper[b-aq9oehf01x]{
    margin-top: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.home-page-titles[b-aq9oehf01x]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 12px;
}

.primary-titles[b-aq9oehf01x]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}


.title-primary[b-aq9oehf01x]{
    font-family: 'PP Mori SemiBold';
    font-size: 52px;
    line-height: 55px;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.title-secondary[b-aq9oehf01x]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.outro-container[b-aq9oehf01x]{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.outro-container > h3[b-aq9oehf01x]{
    font-family: 'PP Mori SemiBold';
    font-size: 20px;
    line-height: 21px;
    color: #B3BBCE;
}

.buttons-container[b-aq9oehf01x]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
/* /Shared/Components/Buttons/NavButton.razor.rz.scp.css */
.nav-button[b-3rpybphj65]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */
    text-decoration: none;
    color: #EEEFFB;
}

.nav-button .active[b-3rpybphj65]{
    text-decoration: none;
}
/* /Shared/Components/Buttons/PrimaryButton.razor.rz.scp.css */
.primary-button[b-a19ez2bdc4]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 40px 12px;
    background: #EEEFFB;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #1A1A1A;
    border: none;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.primary-button:hover[b-a19ez2bdc4]{
    opacity: 0.7;
}

.primary-button img[b-a19ez2bdc4]{
    width: 20px;
    height: 20px;
}

.left-arrow[b-a19ez2bdc4]{
    transform: rotate(180deg);
    margin-left: -8px;
}

.right-arrow[b-a19ez2bdc4]{
    margin-right: -8px;
}

.primary-button-small[b-a19ez2bdc4]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 16px;
    background: #EEEFFB;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #1A1A1A;
    border: none;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
    
}

.primary-button-small:hover[b-a19ez2bdc4]{
    opacity: 0.7;
}
/* /Shared/Components/Buttons/SecondaryButton.razor.rz.scp.css */
@font-face {
    font-family: PP Mori Regular;
    src: url('./fonts/PPMori-Regular.otf') format("opentype");
}

@font-face {
    font-family: PP Mori SemiBold;
    src: url('./fonts/PPMori-SemiBold.otf') format("opentype");
}

.secondary-button[b-pv0mw4gf7r]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 40px 12px;
    background: linear-gradient(90deg, #4A5EB0 0%, #4542CF 100%);
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #EEEFFB;
    border: none;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.secondary-button:hover[b-pv0mw4gf7r]{
    opacity: 0.7;
}

.secondary-button img[b-pv0mw4gf7r]{
    width: 20px;
    height: 20px;
}

.left-arrow[b-pv0mw4gf7r]{
    transform: rotate(180deg);
    margin-left: -8px;
}

.right-arrow[b-pv0mw4gf7r]{
    margin-right: -8px;
}

.secondary-button-small[b-pv0mw4gf7r]{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    background: linear-gradient(90deg, #4A5EB0 0%, #4542CF 100%);
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #EEEFFB;
    border: none;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.secondary-button-small:hover[b-pv0mw4gf7r]{
    opacity: 0.7;
}
/* /Shared/Components/Buttons/TeritaryButton.razor.rz.scp.css */
.teritary-button[b-fw765wigv7]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 40px 12px;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    background: #282A3F;
    color: #EEEFFB;
    border: 1px solid #34364A;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.teritary-button:hover[b-fw765wigv7]{
    opacity: 0.7;
}

.teritary-button img[b-fw765wigv7]{
    width: 20px;
    height: 20px;
}

.teritary-button .left-arrow[b-fw765wigv7]{
    transform: rotate(180deg);
    margin-left: -8px;
}

.teritary-button .right-arrow[b-fw765wigv7]{
    margin-right: -8px;
}

.teritary-button-small[b-fw765wigv7]{
    padding: 6px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    background: #282A3F;
    color: #EEEFFB;
    border: 1px solid #34364A;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
    
}

.teritary-button-small:hover[b-fw765wigv7]{
    opacity: 0.7;
}
/* /Shared/Components/Ride/Ride.razor.rz.scp.css */
.ride-wrapper[b-65lottstiw]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 150px;
    width: 950px;
    height: 150px;
    background: linear-gradient(180deg, rgba(17, 19, 38, 0.4) 0%, #111326 100%);
    border: 1px solid #2A2D53;
    border-radius: 8px;
}

.ride-wrapper > img[b-65lottstiw]{
    border: 1px solid #4D4F5E;
    border-radius: 10px;
    width: 390px;
    height: 134px;
}

.ride-inner[b-65lottstiw]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    height: 100%;
}

.ride-destination[b-65lottstiw]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.ride-destination h5[b-65lottstiw]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 17px;
}

.select-ride-button[b-65lottstiw]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 34px;
    height: 150px;

    background: #161A33;
    border: 1px solid #2A2D53;
    border-radius: 4px;
}
/* /Shared/Components/Ride/RideDetailed.razor.rz.scp.css */
.ride-details-wrapper[b-zkn7wo5pa4]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.ride-details-location-wrapper[b-zkn7wo5pa4]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 24px;

    background: linear-gradient(180deg, rgba(17, 19, 38, 0.4) 0%, #111326 100%);
    border: 1px solid #2A2D53;
    border-radius: 8px;
}

.ride-details-location-wrapper > img[b-zkn7wo5pa4]{
    width: 390px;
    height: 134px;
    border: 1px solid #4D4F5E;
    border-radius: 8px;
}

.ride-details-location-inner[b-zkn7wo5pa4]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.ride-details-container[b-zkn7wo5pa4]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.ride-details-small[b-zkn7wo5pa4]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 41px;

    width: 265px;

    background: linear-gradient(180deg, rgba(17, 19, 38, 0.4) 0%, #111326 100%);
    border: 1px solid #2A2D53;
    border-radius: 8px;
}

.ride-details-small-inner[b-zkn7wo5pa4]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 100%;

}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-iymxgj1jkn] {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: radial-gradient(68.79% 68.79% at 50% -17.11%, #14152E 0%, #000312 100%);
    min-height: 100vh;
}

main[b-iymxgj1jkn] {
    flex: 1;
}
/* /Shared/Navbar.razor.rz.scp.css */
.nav-wrapper-outer[b-ehe4e231qz]{
    width: 100%;
    background: rgba(2, 5, 20, 0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding:  16px 40px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.nav-wrapper[b-ehe4e231qz]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #23253A;
    width: calc(100% - 80px)
}

.nav-inner[b-ehe4e231qz]{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 32px;
    height: 100%;
}

.nav-logo[b-ehe4e231qz]{
    font-family: 'PP Mori Regular';
    font-size: 24px;
    line-height: 25px;
    margin: 0px;
    color: #EEEFFB;
}
