.nav-button[b-3rpybphj65]{
    font-family: 'PP Mori SemiBold';
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */
    text-decoration: none;
    color: #EEEFFB;
}

.nav-button .active[b-3rpybphj65]{
    text-decoration: none;
}