.primary-button[b-x7kwsex6jb]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 40px 12px;
    background: #EEEFFB;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #1A1A1A;
    border: none;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.primary-button:hover[b-x7kwsex6jb]{
    opacity: 0.7;
}

.primary-button img[b-x7kwsex6jb]{
    width: 20px;
    height: 20px;
}

.left-arrow[b-x7kwsex6jb]{
    transform: rotate(180deg);
    margin-left: -8px;
}

.right-arrow[b-x7kwsex6jb]{
    margin-right: -8px;
}

.primary-button-small[b-x7kwsex6jb]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 16px;
    background: #EEEFFB;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #1A1A1A;
    border: none;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
    
}

.primary-button-small:hover[b-x7kwsex6jb]{
    opacity: 0.7;
}