@font-face {
    font-family: PP Mori Regular;
    src: url('./fonts/PPMori-Regular.otf') format("opentype");
}

@font-face {
    font-family: PP Mori SemiBold;
    src: url('./fonts/PPMori-SemiBold.otf') format("opentype");
}

.secondary-button[b-it8stfof1j]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 40px 12px;
    background: linear-gradient(90deg, #4A5EB0 0%, #4542CF 100%);
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #EEEFFB;
    border: none;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.secondary-button:hover[b-it8stfof1j]{
    opacity: 0.7;
}

.secondary-button img[b-it8stfof1j]{
    width: 20px;
    height: 20px;
}

.left-arrow[b-it8stfof1j]{
    transform: rotate(180deg);
    margin-left: -8px;
}

.right-arrow[b-it8stfof1j]{
    margin-right: -8px;
}

.secondary-button-small[b-it8stfof1j]{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    background: linear-gradient(90deg, #4A5EB0 0%, #4542CF 100%);
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    color: #EEEFFB;
    border: none;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.secondary-button-small:hover[b-it8stfof1j]{
    opacity: 0.7;
}