.teritary-button[b-fb38exuuxp]{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 40px 12px;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    background: #282A3F;
    color: #EEEFFB;
    border: 1px solid #34364A;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
}

.teritary-button:hover[b-fb38exuuxp]{
    opacity: 0.7;
}

.teritary-button img[b-fb38exuuxp]{
    width: 20px;
    height: 20px;
}

.teritary-button .left-arrow[b-fb38exuuxp]{
    transform: rotate(180deg);
    margin-left: -8px;
}

.teritary-button .right-arrow[b-fb38exuuxp]{
    margin-right: -8px;
}

.teritary-button-small[b-fb38exuuxp]{
    padding: 6px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    font-family: "PP Mori SemiBold";
    background: #282A3F;
    color: #EEEFFB;
    border: 1px solid #34364A;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.02em;
    transition: all 0.2s cubic-bezier(.82,.14,.1,.77);
    
}

.teritary-button-small:hover[b-fb38exuuxp]{
    opacity: 0.7;
}