<div class="ride-wrapper">
    <div class="ride-inner">
        <p class="caption">Tomorrow 2:45 PM</p>
        <div class="ride-destination">
            <h5>Aarhus</h5>
            <img src="icons/arrow.svg"/>
            <h5>Horsens</h5>
        </div>
        <p class="caption">Tomasz</p>
    </div>
    <img class="" src="icons/map-placeholder.png"/>
    <button class="select-ride-button"><img src="icons/arrow.svg"/></button>
</div>

@code {
    
}