<div class="ride-details-wrapper">
    <div class="ride-details-location-wrapper">
        <div class="ride-details-location-inner">
            <h3>Starting point</h3>
            <p class="caption">The driver is going from <span style="font-family: 'PP Mori SemiBold'">Smedegade 82, Horsens</span>.</p>
        </div>
        <img src="icons/map-placeholder.png"/>
    </div>
    <div class="ride-details-location-wrapper">
        <div class="ride-details-location-inner">
            <h3>Destination</h3>
            <p class="caption">The driver is going to <span style="font-family: 'PP Mori SemiBold'">Vestergade 37, Aarhus</span>.</p>
        </div>
        <img src="icons/map-placeholder.png"/>
    </div>
    <div class="ride-details-container">
        <div class="ride-details-small">
            <div class="ride-details-small-inner">
                <h3>Time</h3>
                <p>24/11/2022</p>
            </div>
            <div class="ride-details-small-inner">
                <h4>Tomorrow 12.45</h4>
            </div>
        </div>
        <div class="ride-details-small">
            <div class="ride-details-small-inner">
                <h3>Driver</h3>
                <p>12 Reviews (4.7)</p>
            </div>
            <div class="ride-details-small-inner">
                <h4>Tomasz</h4>
            </div>
        </div>
    </div>
</div>

@code {
    
}