<div class="footer-wrapper">
    <div class="footer-inner">
        <h3 class="footer-logo">Lift</h3>
        <div class="contact-wrapper">
            <p class="contact-text">Contact us</p>
            <div class="arrow-container"><img src="icons/arrow.svg" alt="arrow"/></div>
        </div>
    </div>
</div>

@code {
    
}