@using WebApp.Shared.Components.Buttons
@inject NavigationManager navigationManager

<div class="nav-wrapper-outer">
    <div class="nav-wrapper">
        <h4 class="nav-logo"><a href="/">Lift</a></h4>
            <NavButton Text="How does it work?"></NavButton>
    </div>
</div>

@code {

    private void navigateToRegister()
    {
        navigationManager.NavigateTo("/auth/register");
    }
}