.createRide-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 50px;
    height: calc(100vh - 80px);
}

.primary-title-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.createRide-titles-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

}

.primary-title
{
    font-family: 'PP Mori Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 55px;

    text-align: center;

    background: linear-gradient(180deg, #EEEFFB 0%, rgba(238, 239, 251, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.secondary-title
{
    font-family: 'PP Mori Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    


    color: #B3BBCE;

}

.back-button-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}