@page "/CreateRide"
@using WebApp.Shared.Components.Ride
@using WebApp.Shared.Components
@attribute [Authorize]

<div class="createRide-wrapper">
    <div class="createRide-titles-container">
        <div class="primary-title-container">
            <h1 class="primary-title">Let our users know</h1>
            <h1 class="primary-title">that you are taking a ride</h1>
        </div>
        <h5 class="secondary-title">Insert your ride's information</h5>
        <RideCreation></RideCreation>

    </div>
</div>

@code {
    
}