
.driver-page-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.driver-container
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
}

.driver-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 16px;

    background: linear-gradient(180deg, rgba(17, 19, 38, 0.4) 0%, #111326 100%);
    border: 1px solid #2A2D53;
    border-radius: 8px;
}

.driver-inner
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
}

.divider
{
    border: 1px solid #2A2D53;
    width: 100%;
}