@page "/"
@using WebApp.Shared.Components.Buttons
@inject NavigationManager navigationManager

<div class="home-page-wrapper">
    <div class="home-page-titles">
        <h1 class="title-primary">Your ride starts here</h1>
        <h5 class="title-secondary">Some placeholder text so that the thing doesn’t look wierd</h5>
    </div>
    <div class="buttons-container">
        <SecondaryButton Text="Find a ride" OnClickFunction="@navigateToRides"></SecondaryButton>
        <PrimaryButton Text="I'm a driver" OnClickFunction="@navigateToDriver"></PrimaryButton>
    </div>
</div>


@code {

    private void navigateToRides()
    {
        navigationManager.NavigateTo("/FindRides");
    }

    private void navigateToDriver()
    {
        navigationManager.NavigateTo("/DriverView");
        ;
    }
}