@page "/PassengerView"
@using WebApp.Shared.Components.Buttons
@using System.Security.Claims
@using HttpClients.ClientInterfaces
@inject NavigationManager navigationManager
@inject ILoginService loginService;
@attribute [Authorize]

<div class="home-page-wrapper">
    <div class="back-button-container">
            <BackButton></BackButton>
    </div>
    <div class="driver-wrapper">
        <div class="driver-container">
            <div class="driver-profile">
                <img src="icons/user.svg"/>
                <h3>@name</h3>
            </div>
            <span class="divider"/>
            <p>More functionalities to come</p>
        </div>
        <div class="driver-container">
            <h3>Find rides</h3>
            <span class="divider"/>
            <p>Join someone on their way to your destination!</p>
            <SecondaryButton Text="Continue" OnClickFunction="@navigateToFindRides"></SecondaryButton>
        </div>
        <div class="driver-container">
            <h3>Manage reservations</h3>
            <span class="divider"/>
            <p>Check status of your requested reservations</p>
            <SecondaryButton Text="View" OnClickFunction="@navigateToManage"></SecondaryButton>
        </div>
    </div>
</div>

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    private bool isLoggedIn;
    private IEnumerable<Claim>? userClaims;
    private string name;


    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        
        userClaims = user.Claims;
        var enumerable = userClaims as Claim[] ?? userClaims.ToArray();
        string passengerId = enumerable.First(claim => claim.Type.Equals("Id")).Value;
        var passenger = await loginService.GetDriverByIdAsync(Int32.Parse(passengerId));
        name = passenger!.Name;
    }
    
    private void navigateToFindRides()
    {
        navigationManager.NavigateTo("/FindRides");
    }

    private void navigateToManage()
    {
        navigationManager.NavigateTo("/PassengerReservations");
        ;
    }
}