@page "/ReviewReservations"
@using WebApp.Shared.Components.Ride
@using Ride = Domain.Models.Ride
@using Domain.Models
@using WebApp.Shared.Components.Buttons
@using HttpClients.ClientInterfaces
@using System.ComponentModel.Design
@using WebApp.Shared.Components.Reservation
@using Reservation = Domain.Models.Reservation
@inject IReservationService ReservationService;

<div class="review-reservations-wrapper">
    @reservations
    @foreach (Reservation reservation in reservations)
    {
        <Reservation passengerName="@reservation.passengerName" rideId="@reservation.rideId" reservationId="@reservation.reservationId" isAccepted="@reservation.isAccepted"></Reservation>
    }
    <Reservation passengerName="Tomasz" startLocation="Horsens" endLocation="Copenhagen" Time="Tomorrow 15:00" didAccept="true"></Reservation>
</div>

@code {
    
    List<Reservation> reservations = new List<Reservation>();
    
    protected override async Task OnInitializedAsync()
    {

        try
        {
            reservations = await ReservationService.getReservationsToAccept();

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            
        }
    
    }
};